<section class="container">
    <div class="resetPass">
        <h1>Reset Password</h1>
        <form method="post" action="index.html">
            <p><input required pattern="[A-Za-z]{4}[1-9]{4}" type="password" name="password" value=""
                    placeholder="Old Password"></p>
            <p><input required pattern="[A-Za-z]{4}[1-9]{4}" type="password" name="password" value=""
                    placeholder="new Password"></p>
            <p><input required pattern="[A-Za-z]{4}[1-9]{4}" type="password" name="password" value=""
                    placeholder="Reapeat New Password"></p>
            <div class="knoppen">
                <button class="reset"> Reset</button>
            </div>

        </form>
    </div>
</section>