/* You can add global styles to this file, and also import other style files */

/* Global imports */
@import url('https://fonts.googleapis.com/css?family=Nunito+Sans&display=swap');

/* Color pallet */

$color-primary: #7245B8;
$color-secondary: #c05e2c;
$color-tertiary: white;
$color-quaternary:white;

/* SCSS Media queries */

@mixin for-phone-only {
  @media (max-width: 599px) {
    @content;
  }
}

@mixin for-tablet-portrait-up {
  @media (min-width: 600px) {
    @content;
  }
}

@mixin for-tablet-landscape-up {
  @media (min-width: 900px) {
    @content;
  }
}

@mixin for-desktop-up {
  @media (min-width: 1200px) {
    @content;
  }
}

@mixin for-accountPage-up {
  @media (max-width: 1692px) {
    @content;
  }
}


@mixin for-big-desktop-up {
  @media (min-width: 1800px) {
    @content;
  }
}


/* Global CSS Snippets */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  &::-webkit-scrollbar {
    width: 7px;
  }

  &::-webkit-scrollbar-thumb {
    background: #7345b6;
  }
}

body {
  height: 100vh;
  font-family: 'Nunito Sans', sans-serif;
  color: white;
}

/* For every content container */
.contentContainer {
  background-color: rgba(138, 138, 138, 0.1);
  border-radius: .5rem;
  padding: 2rem;
  box-shadow: 0 0 15px 10px rgba(0, 0, 0, 0.12);

  h1:first-child {
    font-size: 1.2rem;
    margin-bottom: 5px;
    font-weight: 100;
  }
}

/* Default button look */
.button {
  height: 2.5rem;
  background-color: #7245b8;
  border: none;
  box-shadow: 0 0 15px 10px rgba(0, 0, 0, 0.15);
  border-radius: .5rem;
  color: white;
  cursor: pointer;

  &:focus {
    outline: none;
  }

  &:hover {
    transition: 0.7s;
    background-color: $color-secondary;
  }
}

/* Multi-value selectbox lib overwrite default styles*/
.multiselect-dropdown {
  box-shadow: none !important;

  .selected-item {
    background-color: #7245b8 !important;
    border: none !important;
    border-radius: .4rem !important;
    margin: 0.2rem !important;
    padding: .1rem .3rem .1rem .3rem !important;
    box-shadow: 0 0 15px 10px rgba(0, 0, 0, 0.2) !important;
  }

  .dropdown-list {
    background-color: rgb(35, 40, 51) !important;
    box-shadow: none !important;

    div {
      color: white !important;

      &:before {
        background: none !important;
        border-color: #7245b8 !important;
      }
    }

    .filter-textbox input {
      background: rgba(255, 255, 255, 0.1);
      border: solid 1px white;
      border-radius: .3rem;
      height: 2rem;
      color: white;
      font-size: 1rem;
    }
  }

  .dropdown-btn:focus {
    outline: none !important;
  }

  .item2 {
    scroll-behavior: smooth;
    overflow-y: scroll;
  }
}

.datasetInfoGroups {
  .dropdown-btn {
    text-align: center;
    padding: .5rem !important;
    font-size: 1rem;

    color: white;
    background: #27292c;
    box-shadow: 0 1px 0 rgba(255, 255, 255, 0.1);
    border: none !important;
    outline: none;
  }

  .dropdown-list {
    background: #27292c !important;
  }
}
